<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200&family=Pacifico&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <header>
        <section>
            <div class="box-header">
                <div class="logo-conteiner">
                    <a href="/">
                        <img src="/img/Logo.png" id="logo" width="80%" alt="Logo Comamos">
                    </a>
                </div>
                <div id="align-header">
                    <h1 class="title style-title">Comamos</h1>
                    <ul class="box-mobile">
                        <li class="format-menu">Registrate</li>
                        <li class="format-menu">Registrá tu Restaurante</li>
                        <li class="format-menu">Ingresá a tu cuenta</li>
                        <li class="format-menu">Ingresá a tu cuenta de negocio</li>
                    </ul>
                    <div class="burger-bar">
                        <i class="fas fa-bars"></i>
                    </div>
                </div>
            </div>
          
        </section>
    </header>


<main>

    <div class="centrok" id="exitoso">
        <div class="exit">
            <i class="fas fa-times"></i>
           </div>
<br>
    <h1>¡Tu registro ha sido exitoso!</h1>
    <br><br><br>
    <h4>Ya podes empezar a disfrutar de tus restaurantes favoritos...</h4>
    <br><br><br><br>
    <button >Volver a inicio</button>
</div>
</main>

<footer>
    <div class="footer">
        <ul type="none">
            <li><a href="">Acerca de Nosotros</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Términos y condiciones</a></li>
        </ul>
        <ul type="none">
            <li><a href="">Registrá tu restaurante</a></li>
            <li><a href="">Programá tus descuentos</a></li>
            <li id="copyright">©️ Comamos - 2021</li>
        </ul>
        <div>
            <div class="footer-logo">
                <img src="/img/facebook.png" alt="logo-facebook">
            </div>
            <div class="footer-logo">
                <img src="/img/instagram.png" alt="logo-facebook">
            </div>
        </div>
</footer>
    
</body>
</html>