<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200&family=Pacifico&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="centro" id="exitoso">
        <div class="exit">
            <i class="fas fa-times"></i>
           </div>
<br>
    <h1>¡Tu registro ha sido exitoso!</h1>
    <br><br><br>
    <h4>Ya podes empezar a disfrutar de tus restaurantes favoritos...</h4>
    <br><br><br><br>
    <button >Volver a inicio</button>
</div>
    
</body>
</html>