<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

<link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200&family=Pacifico&display=swap"
        rel="stylesheet">
    <title>Comamos</title>
</head>
<body>

  <div class="centro">

   <h2 class="acercar">Estás a un paso de ser parte de </h2> 
    <h2> la nueva comunidad de restaurantes...</h2>
       
    <form action="/register2Ok" method="POST">
      <div class="exit">
        <i class="fas fa-times"></i>
       </div>
      <h4 class="close" id="padding">Registrarse</h4>
        <p>
          <label>Nombre del restaurante</label> <div></div>
          <input type= "text" name= "nombre" id= "nombre">
        </p>

        <p>
            <label>Direccion</label> <div></div>
            <input type= "text" name= "nombre" id= "nombre">
          </p>

          <p>
            <label>Capacidad</label> <div></div>
            <input type= "text" name= "nombre" id= "nombre">
          </p>
  
        <p>
          <label>Direccion de correo electronico</label> <div></div>
            <input type= "email" name= "email" id= "email">
        </p>
        
        <p>
          <label>Crear contraseña</label> <div></div>
          <input type= "password" name= "password" id= "contraseña">
          </p>

          <p class="alejar">
                    <input class="center" type="submit" value="Crear cuenta"> </input>
            </p>
      </form>

  </div>


    
</body>
</html>