<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

<link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200&family=Pacifico&display=swap"
        rel="stylesheet">
    <title>Comamos</title>
</head>
<body>
  <div style= "background-image:url('/img/fondo-cargado.jpg'); width:auto; height:auto; background-size: cover;" >
  

<div class="centro">

  <div class="acercar"><h3>Estás a un paso de empezar a </h3></div>
   <h3>elegir tus platos favoritos...</h3>

 

       

    <form action="/registerOk" method="POST">
      
      <div class="exit">
     <i class="fas fa-times"></i>
    </div>
  
      
      <h4 class="close" id="padding">Registrarse</h4> <div></div>
        <p>
          <label class="alejar">Nombre</label><div></div>
          <input type= "text" name= "nombre" id= "nombre">
        </p>

        <p>
            <label>Apellido</label><div></div>
            <input type= "text" name= "apellido" id= "apellido">
          </p>
  
        <p>
          <label>Direccion de correo electronico</label> <div></div>
            <input type= "email" name= "email" id= "email">
        </p>
        
        <p>
          <label>Crear contraseña</label><div></div>
          <input type= "password" name= "password" id= "contraseña">
          </p>

          <p class="alejar">
            
                <input class="center" type="submit" value="Crear cuenta"> </input>
            </p>
      </form>
    
</div>

    
</body>
</html>