<footer class="footer">
    <ul type="none">
        <li><a href="">Acerca de Nosotros</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Términos y condiciones</a></li>
    </ul>
    <ul type="none">
        <li><a href="">Registrá tu restaurante</a></li>
        <li><a href="">Programá tus descuentos</a></li>
        <li id="copyright">© Comamos - 2021</li>
    </ul>
    <div>
        <div class="footer-logo">
            
        </div>
        <div class="footer-logo">
            
        </div>
    </div>
</footer>