<footer class="footer">
    <ul type="none">
        <li><a href="">Acerca de Nosotros</a></li>
        <li><a href="">Contacto</a></li>
        <li><a href="">Términos y condiciones</a></li>
    </ul>
    <ul type="none">
        <li><a href="/buisness/register">Registrá tu restaurante</a></li>
        <li><a href="">Programá tus descuentos</a></li>
        <li id="copyright">© Comamos - 2021</li>
    </ul>
    <div class="social-media">
        
            <i class="fab fa-facebook"></i>
        
        
            <i class="fab fa-instagram"></i>
        
    </div>
</footer>
<div class="loader-container">
    <img src="/img/loader.gif" alt="">
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../js/sweetAlertLoged.js"></script>