<header>  
    <% if (locals.userLogged && user.perfil == 'usuario' ) { %>
        <div class="logo-conteiner">
            <a href="/">
            <img src="/img/Logo.png" id="logo" width="80%" alt="Logo Comamos">
            </a>
        </div>
        <div id="align-header">
            <h1 class="title style-title">Comamos</h1>
            <section class="icon-align">
                <div>
                    <a href="/carrito">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </div>
                <div class="icon-user">
                    <a href="/user/account/">
                        <img src="<%= user.avatar %>" alt="user image" class="user-image">
                    </a>
                </div>
            </section>
        </div>
            <% } else if (locals.userLogged && user.perfil == 'negocio' ) { %>
            <div class="logo-conteiner">
                <a href="/">
                <img src="/img/Logo.png" id="logo" width="80%" alt="Logo Comamos">
                </a>
            </div>
            <div id="align-header">
            <h1 class="title style-title">Comamos</h1>
            <section class="icon-align">
                <div class="icon-user">
                    <a href="/user/account-buisness/orders">
                        <i class="fas fa-cart-arrow-down"></i>
                    </a>
                </div>
                <div class="icon-user">
                    <a href="/user/account-buisness">
                        <img src="<%= user.avatar %>" alt="user restaurant" class="user-image">
                    </a>
                </div>
            </section>
            </div>
            <% } else { %>
                <nav>
                    <input type="checkbox" id="check" id="check">
                    <label for="check" class="checkbtn">
                        <i class="fas fa-bars"></i>
                    </label>
                    <div class="flex">
                        <a href="/">
                            <img class="logo" src="/img/Logo.png" alt="logo comamos">
                        </a>
                        <h1 class="title-2">Comamos</h1>
                    </div>
                    <ul>
                        <li><a href="/user/register">Registrate</a></li>
                        <li><a href="/user/register-buisness">Registrá tu Restaurante</a></li>
                        <li><a href="/user/login">Ingresá a tu cuenta</a></li>
                        <li><a href="/user/login-buisness">Ingresá a tu cuenta de negocio</a></li>
                    </ul>
                </nav>
            <% } %>
</header>