<header>  
    <nav>
        <input type="checkbox" id="check" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <div class="flex">
            <img class="logo" src="/img/Logo.png" alt="logo comamos">
            <p class="title">Comamos</p>
        </div>
        <ul>
            <li><a href="/user/register">Registrate</a></li>
            <li><a href="/user/register-buisness">Registrá tu Restaurante</a></li>
            <li><a href="/user/login">Ingresá a tu cuenta</a></li>
            <li><a href="/user/login-buisness">Ingresá a tu cuenta de negocio</a></li>
        </ul>
    </nav>
</header>