<header class="box-header">

    
        <div class="logo-conteiner">
            <a href="/">
                <img src="/img/Logo.png" id="logo" width="80%" alt="Logo Comamos">
            </a>
        </div>
        <div id="align-header">
            <form action="/carrito" method="POST">

                <label for="busqueda0"></label>
                <input type="text" name="busqueda0" id="busqueda0" placeholder="¿Dónde querés comer?"
                    class="hide-mobile">

                <label for="busqueda1"></label>
                <input type="text" name="busqueda1" id="busqueda1" placeholder="Restaurante, tipo de comida..."
                    class="box-mobile box1">

                <label for="busqueda2"></label>
                <input type="text" name="busqueda2" id="busqueda2" placeholder="Cerca de mi dirección"
                    class="box-mobile box2">

                <select name="filtrar" id="filtrar" class="box-mobile box3">
                    <option value="filtra">Filtra tu búsqueda</option>
                </select>

                <button type="submit" name="buscar" id="boton-buscar">Buscar</button>
            </form>
        </div>
        <div class="burger-bar">
            <i class="fas fa-bars format-burgerbar"></i>
        </div>
        <div class="icon-user">
            <a href="/login/account">
            <i class="fas fa-user color-icon"></i>
            </a>
        </div>
    

</header>