<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

<link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200&family=Pacifico&display=swap"
        rel="stylesheet">
    <title>Comamos</title>
</head>
<body>
  <div style= "background-image:url('/img/fondo-cargado.jpg'); width:auto; height:auto; background-size: cover;" >
  

<div class="centro">
       

    <form action="/login" method="POST">
      
      <div class="exit">
     <i class="fas fa-times"></i>
    </div>
  
      
      <h2 class="close" id="padding">Login</h2> <div></div>
        <p>
          <label class="alejar">Usuario</label><div></div>
          <input type= "text" name= "usuario" id= "usuario">
        </p>
        
        <p>
          <label>Contraseña</label><div></div>
          <input type= "password" name= "password" id= "contraseña">
          </p>

          <p class="alejar">
            
                <input class="center" type="submit" value="Login"> </input>
                <div></div>
                <input type="checkbox" value="Recordarme" name= "Recordarme" checked> 
                <label>Recordar usuario </label>
            </p>

            <p class="subrayado">Restablecer contraseña</p>
            <div></div>

            <h4 class="subrayado">Ingresá a tu cuenta de negocios</h4>
      </form>
    
</div>

    
</body>
</html>

