<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/account-restaurant.css">
    <title>Reservas</title>
</head>

<body>
    <%- include partials/header-buisness-account %> 
    <main class="main-order">
            <article class="reserve-form">
                    <div class="box-order1">
                        <img src="/img/avatars/Usuario-registro.png" alt="imagen usuario" class="image-restaurant">
                    </div>
                    <div class="left-separation box-order2">
                        <h4>Nombre del usuario: </h5>
                        <h4>Platos Comprados</h4>
                        <h5>Nº de comensales: </h5>
                        <h5>Fecha y hora de la reserva: </h5>
                    </div>
                    <form action="" method="POST" class="coment-button box-order3">
                        <input type="button" value="Cancelar reserva">
                        <button type="submit"></button>
                    </form>
            </article>
    </main>
    <%- include partials/footer %>     
</body>

</html>