<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/style-register.css">
    <title>Document</title>
</head>
<body>

    <%- include partials/header %>

    <main>
 
    <form class="centrok" id="exitoso">
        <div class="exit">
            <a href="/">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <br>
        <h1>¡Registraste tu restaurante <div></div> exitosamente!</h1>
        <br><br><br>
        <h4>Ya podes empezar a disfrutar de <div></div>los mejores clientes...</h4>
        <br><br><br><br>
        <button>
           <a href="/user/login-buisness">Iniciar Sesión como Negocio</a>
        </button>
    </form>
</main>

<%- include partials/footer %>

</body>
</html>