<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/style-register.css">
    <title>Comamos</title>
</head>
<body>
  <%- include partials/header %>
  <main class="center">
    <div class="margin-bottom">
      <h3 class="acercar">Estás a un paso de ser parte de </h3>
      <h3> la nueva comunidad de restaurantes...</h3>
      </div>
          
      <div class="centro">
        <form action="/user/register-buisness" method="POST">
          <div class="exit">
            <a href="/" class="exit-button"><i class="fas fa-times"></i></a>
          </div>
          <h4 class="close" id="padding">Registrarse</h4>
            <p>
              <label>Nombre del restaurante</label> <div></div>
              <input type= "text" name= "nombre" id= "nombre">
            </p>

            <p>
                <label>Dirección</label> <div></div>
                <input type= "text" name= "direccion" id= "direccion">
              </p>

              <p>
                <label>Capacidad</label> <div></div>
                <input type= "text" name= "capacidad" id= "capacidad">
              </p>
      
            <p> 
              <label>Dirección de correo electrónico</label> <div></div>
                <input type= "email" name= "email" id= "email">
            </p>
            
            <p>
              <label>Crear contraseña</label> <div></div>
              <input type= "password" name= "password" id= "contraseña">
              </p>

              <p class="alejar">
                        <input class="crear-cuenta" type="submit" value="Crear cuenta"> </input>
                </p>
          </form>

      </div>
  </main>

<%- include partials/footer %>     

    
</body>
</html>