<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/style-login.css">
    <title>Document</title>
</head>
<body>

    <%- include partials/header %>

    <main>
 
    <form action="/buisness/login" class="margin-bottom center">
        <div class="exit">
            <a href="/">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <br>
        <h1>¡Registraste tu restaurante <div></div> exitosamente!</h1>
        <br><br><br>
        <h4>Ya podes empezar a disfrutar de <div></div>los mejores clientes...</h4>
        <button type="menu" class="logout-button">Iniciar Sesión</button>
    </form>
</main>

<%- include partials/footer %>

</body>
</html>