<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/account.css">
    <title>Cuenta</title>
</head>

<body>
    <%- include partials/header-account %> 
    <main class="main-order">
        <section>
            <article class="main-order">
                <h5>Nombre del restaurante: </h5>
                <h5>Nº de comensales: </h5>
                <h5>Fecha: </h5>
                <h5>Horario de reserva: </h5>
            </article>
            <div class="reserve-form">
                <div class="reserve-box">
                    <h4>Entradas</h4>
                    <h4>Platos Principales</h4>
                    <h4>Bebidas</h4>
                    <h4>Postres</h4>
                </div>
                <form action="" method="POST" class="coment-button">
                    <input type="button" value="Dejar reseña">
                    <button type="submit"></button>
                </form>
            </div>
        </section>
    </main>
    <%- include partials/footer %>     
</body>

</html>