<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200&family=Pacifico&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Inicio-Comamos</title>
</head>

<body>
    <header>
        <section>
            <div class="box-header">
                <div class="logo-conteiner">
                    <img src="/img/Logo.png" id="logo" alt="Logo Comamos">
                </div>
                <div id="align-header">
                    <h1 class="title style-title">Comamos</h1>
                    <ul class="box-mobile">
                        <li class="format-menu">Registrate</li>
                        <li class="format-menu">Registrá tu Restaurante</li>
                        <li class="format-menu">Ingresá a tu cuenta</li>
                        <li class="format-menu">Ingresá a tu cuenta de negocio</li>
                    </ul>
                </div>
            </div>
            <div id="background-img">
                <img src="/img/fondo-cargado.jpg" width="100%" height="100%" alt="background">
            </div>
        </section>
    </header>
</body>

</html>