<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %> 
    <link rel="stylesheet" href="./css/index.css">
    <title>Comamos</title>
</head>

<body>
    <%- include partials/header %> 
    <main>
        <div class="search">
            <form action="" method="">

                <label for="busqueda1"></label>
                <input type="text" name="busqueda1" id="busqueda1" placeholder="Restaurante, tipo de comida...">

                <label for="busqueda2"></label>
                <input type="text" name="busqueda2" class="box-mobile" id="busqueda2" placeholder="Cerca de mi dirección">

                <select name="filtrar" id="filtrar" class="box-mobile">
                    <option value="filtra">Filtra tu búsqueda</option>
                </select>

            </form>
                <button type="submit" name="buscar" id="boton-buscar">Buscar</button>
                <i class="fas fa-search" id="boton-lupa"></i>
            </form>
        </div>
        <div>
            <section class="los-mas-elegidos">
            <h2 class="titulo-los-mas-elegidos">Los más elegidos</h2> 
            <div class="contenedor-1">
                <article class="opcion-1">Nombre del plato 1</article>
                <article class="opcion-1">Nombre del plato 2</article>
                <article class="opcion-1">Nombre del plato 3</article>
                <article class="opcion-1">Nombre del plato 4</article>
                <article class="opcion-1">Nombre del plato 5</article>
                <article class="opcion-1">Nombre del plato 6</article>
                <article class="opcion-1">Nombre del plato 7</article>
                <article class="opcion-1">Nombre del plato 8</article>
                <article class="opcion-1">Nombre del plato 9</article>
            </div>
            </section>
            <section class="los-mas-elegidos">
                <h2 class="titulo-nuestras-sugerencias">Nuestras sugerencias</h2>
            <div class="nuestras-sugerencias">
                <div class="contenedor-2">

                    <button class="arrow"><i class="fas fa-arrow-left"></i></button>
                    <article class="para-ir-con">Para ir con...</article>
                    <button class="arrow"><i class="fas fa-arrow-right"></i></button>

                    <button class="arrow"><i class="fas fa-arrow-left"></i></button>
                    <article class="por-tu-zona">Por tu zona</article>
                    <button class="arrow"><i class="fas fa-arrow-right"></i></button>

                </div>
            </div>
        </section>
        </div>
    </main>
<%- include partials/footer %>     
</body>

</html>