<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
        <link rel="stylesheet" href="/css/lista-restaurantes.css">
        <title>Restaurantes</title>
</head>


<body>
    <% include partials/header %> 
    <main>

        <h1>Restaurantes:</h1>
        <div class="todos">
            <article class="resto1">
                <h2>Restaurante A</h2>
                <img src="public\img\avatars\kansas-fachada.jpg" alt="" width="20%" height="20%">
                <h5>Dirección</h5>
                <h6>Precio promedio</h6>
            </article>
            <br>
            <article class="resto2">Restaurante B</article>
            <br>
            <article class="resto3">Restaurante C</article>
            <br>
            <article class="resto4">Restaurante D</article>
        </div>

    </main>
    <% include partials/footer %>
</body>

</html>