<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200&family=Pacifico&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/product.css">
    <title>Inicio-Comamos</title>
</head>

<body>
    <header>

        <div class="box-header">
            <div class="logo-conteiner">
                <img src="/img/Logo.png" id="logo" width="80%" alt="Logo Comamos">
            </div>
            <div id="align-header">
                <form action="/carrito" method="POST">

                    <label for="busqueda0"></label>
                    <input type="text" name="busqueda0" id="busqueda0" placeholder="¿Dónde querés comer?"
                        class="hide-mobile">

                    <label for="busqueda1"></label>
                    <input type="text" name="busqueda1" id="busqueda1" placeholder="Restaurante, tipo de comida..."
                        class="box-mobile box1">

                    <label for="busqueda2"></label>
                    <input type="text" name="busqueda2" id="busqueda2" placeholder="Cerca de mi dirección"
                        class="box-mobile box2">

                    <select name="filtrar" id="filtrar" class="box-mobile box3">
                        <option value="filtra">Filtra tu búsqueda</option>
                    </select>

                    <button type="submit" name="buscar" id="boton-buscar">Buscar</button>
                </form>
            </div>
            <div class="burger-bar">
                <i class="fas fa-bars format-burgerbar"></i>
            </div>
            <div class="icon-user">
                <i class="fas fa-user"></i>
            </div>
        </div>

    </header>
    <main>
        <section>
            <div class="box-main">
                <section>
                    <h1>Detalle de la reserva</h1>
                    <h2>Restaurante</h3>
                        <h3>Dirección</h3>
                        <div class="land-view">
                            <h3>
                                <div>
                                    <p>Día</p>
                                    <p>Horario</p>
                                    <p>Cantidad de personas</p>
                                </div>
                                <br>
                            </h3>
                        </div>
                </section>
                <div class="map-style">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3396.5844055390476!2d-60.70814808428683!3d-31.645227514525796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b5a9bb2f7ecdb5%3A0x10e74127d3896538!2sRestaurant%20Espa%C3%B1a!5e0!3m2!1ses!2sar!4v1623693134066!5m2!1ses!2sar"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="box-main">
        </section>
        </div>
    </main>
    <footer>
        <div class="footer">
            <ul type="none">
                <li><a href="">Acerca de Nosotros</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Términos y condiciones</a></li>
            </ul>
            <ul type="none">
                <li><a href="">Registrá tu restaurante</a></li>
                <li><a href="">Programá tus descuentos</a></li>
                <li id="copyright">© Comamos - 2021</li>
            </ul>
            <div>
                <div class="footer-logo">
                    <img src="/img/facebook.png" alt="logo-facebook">
                </div>
                <div class="footer-logo">
                    <img src="/img/instagram.png" alt="logo-facebook">
                </div>
            </div>
    </footer>
</body>

</html>