<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comamos</title>
</head>
<body>
    <div class="search">
        <form action="" method="">

            <label for="busqueda1"></label>
            <input type="text" name="busqueda1" id="busqueda2" placeholder="Restaurante, tipo de comida...">

            <label for="busqueda2"></label>
            <input type="text" name="busqueda2" id="busqueda2" placeholder="Cerca de mi dirección">

            <select name="filtrar" id="filtrar">
                <option value="filtra">Filtra tu búsqueda</option>
            </select>

            <button type="submit" name="buscar" id="boton-buscar">Buscar</button>
        </form>
    </div>
    <section>
        <article></article>
    </section>
    <div class="detalle-del-producto">
        <h3 class="detalle-del-producto">Kansas Grill & Bar • Cocina Americana </h3>
        <div class="contenedor-1">
            <article class="opcion-1"><strong>Dirección:</strong> Av. del Libertador 4625, C1426 CABA. </article>
            <article class="opcion-2"><strong>Valoración:</strong> 4.5/5 ⭐</article>
      
        </div>
    </div>

</body>
</html>