<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200&family=Pacifico&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="search">
        <form action="" method="">

            <label for="busqueda1"></label>
            <input type="text" name="busqueda1" id="busqueda2" placeholder="Restaurante, tipo de comida...">

            <label for="busqueda2"></label>
            <input type="text" name="busqueda2" id="busqueda2" placeholder="Cerca de mi dirección">

            <select name="filtrar" id="filtrar">
                <option value="filtra">Filtra tu búsqueda</option>
            </select>

            <button type="submit" name="buscar" id="boton-buscar">Buscar</button>
        </form>
    </div>
   <br>
   <div id= "slider">
       <figure>
            <img src="/public/img/kansas-fachada.jpg" alt="Kansas-Grill-fachada"
            <img src="/public/img/Ribs-Kansas.jpg" alt="Kansas-Grill-&-Bar-Ribs">
            <img src="/public/img/bife-de-chorizo-kansas.jpg" alt="Kansas-Grill-&-Bar-Bife-de-Chorizo">
            <img src="/public/img/Salmon-Kansas.jpg" alt="Kansas-Grill-&-Bar-Salmon">
        </figure>
   </div>

    <div class="detalle-del-producto">
        <h3 class="detalle-del-producto">Kansas Grill & Bar • Cocina Americana </h3>
        <div class="contenedor-2">
            <article class="opcion-1"><strong>Dirección:</strong> Av. del Libertador 4625, C1426 CABA. </article>
            <article class="opcion-2"><strong>Valoración:</strong> 4.5/5 ⭐</article>
      
        </div>
    </div>

</body>
</html>