<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/style-register.css">
    <title>Comamos</title>
</head>
<body>

    <%- include partials/headerLogin %>



  <main class="center">
 

    
<div>
    <h3>Estás a un paso de empezar a </h3>
    <h3>elegir tus platos favoritos...</h3>
</div>
 

   <div class="centro">

    <form action="/" method="POST">
      
      <div class="exit">
     <i class="fas fa-times"></i>
    </div>
  
      
      <h4 class="close" id="padding">Registrarse</h4> <div></div>
        <p>
          <label class="alejar">Nombre</label><div></div>
          <input type= "text" name= "nombre" id= "nombre">
        </p>

        <p>
            <label>Apellido</label><div></div>
            <input type= "text" name= "apellido" id= "apellido">
          </p>
  
        <p>
          <label>Direccion de correo electronico</label> <div></div>
            <input type= "email" name= "email" id= "email">
        </p>
        
        <p>
          <label>Crear contraseña</label><div></div>
          <input type= "password" name= "password" id= "contraseña">
          </p>

          <p class="alejar">
            
                <input class="center" type="submit" value="Crear cuenta"> </input>
            </p>
      </form>
    
</div>

</main>

<%- include partials/footer %>     

</body>
</html>