<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/style-register.css">
    <title>Document</title>
</head>
<body>

    <%- include partials/headerLogin %>


<main>

    <div class="centrok" id="exitoso">
        <div class="exit">
            <i class="fas fa-times"></i>
           </div>
<br>
    <h1>¡Tu registro ha sido exitoso!</h1>
    <br><br><br>
    <h4>Ya podes empezar a disfrutar de tus restaurantes favoritos...</h4>
    <br><br><br><br>
    <button >Volver a inicio</button>
</div>
</main>

<%- include partials/footer %>     
    
</body>
</html>