<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/account.css">
    <title>Cuenta</title>
</head>

<body>
    <%- include partials/header-account %> 
    <main>
        <section>
            <ul>
                <li>
                    <a href="">
                        <h3>Datos de la cuenta</h3>
                    </a>
                </li>
                <li>
                    <a href="">
                    <h3>Mas datos</h3>
                    </a>
                </li>
            </ul>
        </section>
        <section>
            <ul>
                <li>
                    <a href="">
                        <h2>Ver mi Reserva</h2>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>Historial de Reservas</h2>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>Mis Favoritos</h2>
                    </a>
                </li>
            </ul>
        </section>
        <form action="/">
            <button type="submit"></button>
        </form>
    </main>
    <%- include partials/footer %>     
</body>

</html>