<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/style-login.css">
    <title>Comamos</title>

 
</head>
<body>

    <%- include partials/header %> 


  <main class="centro">
    
    <form action="/user/login" method="POST">
      
      <div class="exit">
        <a href="" class="exit-button"><i class="fas fa-times"></i></a>
      </div>
  
      
      <h2 class="close" id="padding">Login</h2> <div></div>
        <p>
          <label class="alejar">Email</label><div></div>
          <input type= "email" name= "email" id= "email">
        </p>
        
        <p>
          <label>Contraseña</label><div></div>
          <input type= "password" name= "password" id= "contraseña">
          </p>

          <p class="alejar">
            
                <input class="center" type="submit" value="Login"> </input>
                <div></div>
                <input type="checkbox" value="Recordarme" name= "recordarme" checked> 
                <label>Recordar usuario </label>
            </p>

            <p class="subrayado">Restablecer contraseña</p>
            <div></div>
      </form>
    </div>

</main>


<%- include partials/footer %>     

</body>




</html>

