<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/style-register.css">
    <title>Comamos</title>
</head>
<body>

    <%- include partials/header %>



  <main class="center">
 

    
    <div class="margin-bottom">
        <h3 class="a-un-paso">Estás a un paso de empezar a </h3>
        <h3>elegir tus platos favoritos...</h3>
    </div>
 

   <div class="centro">

    <form action="/user/register" method="POST" enctype="multipart/form-data">
      
      <div class="exit">
        <a href="/" class="exit-button"><i class="fas fa-times"></i></a>
      </div>
  
      
      <h4 class="close" id="padding">Registrarse</h4>
        <p>
          <label class="alejar">Nombre</label><div></div>
          <input type= "text" name= "nombre" id= "nombre">
        </p>

        <p>
          <label>Apellido</label><div></div>
          <input type= "text" name= "apellido" id= "apellido">
        </p>
  
        <p>
          <label>Dirección de correo electrónico</label>
          <input type= "email" name= "email" id= "email">
        </p>
        
        <p>
          <label>Crear contraseña</label><div></div>
          <input type= "password" name= "password" id= "contraseña">
        </p>
        <p class="alejar">  
          <input class="crear-cuenta" type="submit" value="Crear cuenta"> </input>
        </p>
      </form>
    
    </div>

  </main>

<%- include partials/footer %>     

</body>
</html>