<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/account.css">
    <title>Cuenta</title>
</head>

<body>
    <%- include partials/header-account %> 
    <main>
        <section class="box-space">
            <div class="align-image-user">
                <img src="/img/Usuario-registro.png" alt="user image" class="user-image">
            </div>
            <div class="align-titles">
                <h3>Nombre y Apellido</h3>
            </div>
            <ul type='none' class="data-form">
                <li>
                    <a href="">
                        <h2>Datos de la cuenta</h2>
                    </a>
                </li>
                <li>
                    <a href="">
                    <h2>Mas datos</h2>
                    </a>
                </li>
            </ul>
        </section>
        <section class="box-space">
            <ul type='none' class="data-form">
                <li>
                    <a href="">
                        <h2>Ver mi Reserva</h2>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>Historial de Reservas</h2>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h2>Mis Favoritos</h2>
                    </a>
                </li>
            </ul>
        </section>
        <form action="/">
            <fieldset class="logout-button">
                <input type="submit" value="Log out" class="none-decoration"></input>
                <i class="fas fa-sign-out-alt"></i>
            </fieldset>
            <button type="submit"></button>
        </form>
    </main>
    <%- include partials/footer %>     
</body>

</html>