<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/style-register.css">
    <title>Document</title>
</head>
<body>

    <%- include partials/header %>


<main>

    <form action="/user/account" class="centrok" id="exitoso">
        <div class="exit">
            <a href="/">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <br>
        <h1>¡Tu registro ha sido exitoso!</h1>
        <br><br><br>
        <h4>Ya podes empezar a disfrutar de tus restaurantes favoritos...</h4>
        <br><br><br><br>
        <button type="menu">Iniciar sesión</button>
    </form>
</main>

<%- include partials/footer %>     
    
</body>
</html>