<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/style-login.css">
    <title>Comamos</title>
</head>
<body>

    <%- include partials/header %>



  <main class="center">
 

    
    <div class="margin-bottom">
        <h3>Estás a un paso de empezar a </h3>
        <h3>elegir tus platos favoritos...</h3>
    </div>
 

    <div class="centro">

      <form action="/user/register" method="POST" enctype="multipart/form-data">
        
        <div class="exit">
          <a href="/" class="exit-button"><i class="fas fa-times"></i></a>
        </div>
    
        
        <h2>Registrarse</h2>
         <div>
          <div class="box-register">
            <label class="alejar">Nombre</label>
            <input type= "text" name= "nombre" id= "nombre"></input>
          </div>

          <div class="box-register">
            <label>Apellido</label>
            <input type= "text" name= "apellido" id= "apellido">
          </div>
    
          <div class="box-register">
            <label>Direccion de correo electronico</label>
            <input type= "email" name= "email" id= "email"></input>
          </div>
          
          <div class="box-register">
            <label>Crear contraseña</label>
            <input type= "password" name= "password" id= "contraseña"></input>
          </div>
        </div> 
          <div class="alejar">  
            <input class="center logout-button" type="submit" value="Crear cuenta"> </input>
          </div>
      </form>
    
    </div>

  </main>

<%- include partials/footer %>     

</body>
</html>