<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
    <link rel="stylesheet" href="/css/carrito.css">
    <title>Carrito</title>
</head>

<body>
    <%- include partials/header %> 
    <main>
        <div class="box-main">
            <form action="/shop-user" method="POST">
                <section>
                    <h1 id="order-detail">Detalle de la reserva</h1>
                        <div class="land-view">
                            <section id="product-cart-section">
                                
                            </section>
                            <br>
                        </div>
                </section>
                <button class="button pay-button">Proceder al pago</button>
            </form>
        </div>
    </main>
    <%- include partials/footer %>     
</body>
<script src="/js/cart.js"></script>
</html>