* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: #e7e7e7;
}
body main {
    min-height: calc(100vh - 80px - 45px - 16px);
}

/* Nav bar para version mobile */

nav {
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 15px 0 gray;
}
header {
    box-shadow: 0 0 15px 0 gray;
    height: 80px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
}
header nav ul li a:hover {
    background: #656565;
    color: white;
    transition: .5s;
}
main a h2:hover {
    background-color: #656565;
    color: white;
    border-radius: 7px;
    transition: .5s;
}
.flex {
    display: flex;
}
.flex-rowReverse {
    display: flex;
    flex-direction: row-reverse;
}
.logo {
    width: 120px;
    height: 70px;
    line-height: 80px;
}
.title {
    color: #ED1B24;
    font-size: 35px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    vertical-align: bottom;
    display: none;
    width: 70%;
}
.title-2 {
    color: #ED1B24;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    vertical-align: bottom;
    display: none;
    width: 90%;
}
.checkbtn {
    font-size: 30px;
    color: #656565;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check {
    display: none;
}
header ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ed1b26;
    top: 80px;
    left: -100%;
    text-align: center;
    z-index: 100;
    transition: all .5s;
}
nav ul li {
    display: block;
}
#check:checked ~ ul{
    left: 0;
}
.user-menu {
    display: none;
}
.user-menu:target {
    display: block;
}

/* Nav bar para version mobile */

/* Estilos para el header */

div.errores {
    color: #ED1B24;
    font-style: italic;
    font-size: 14px;
    list-style: circle;
    margin-left: 10%;
}

body header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}
body header a {
    text-decoration: none;
    color: #656565;
}
.icon-align {
    width: 30%;
    display: flex;
    align-items: center;
}
.icon-user {
    margin: 3%;
}
#logo {
    max-width: 100%;
    max-height: 100%; 
}
.logo-conteiner {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#align-header {
    display: flex;
    width: 80%;
}
.style-title {
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #ED1B24;
}
.user-image {
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.burger-bar {
    display: inline-flex;
    align-items: center;
    width: 10%;
}
.format-menu {
    width: 25%;
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-mobile {
    display: none;
}

/* Estilos para el header */


/* Inicio Main Account */
body main {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
}
body main a {
    text-decoration: none;
    color: #ED1B24;
}
.align-image-user {
    width: 20%;
    margin: auto;
    text-align: center;
}
.user-image-header {
    border-radius: 100%;
    width: 25px;
    height: 25px;
}
.user-image {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}
.product-image {
    max-width: 110px;
    height: 110px;
    border-radius: 100%;
}
.align-titles {
    margin: auto;
    text-align: center;
}
.data-form {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    padding: 10px; 
}
.none-decoration {
    background-color: #b6b6b6;
    color: white;
    border: none;
    margin: inherit;
    transition: all 0.5s;
}
.none-decoration2 {
    background-color: #b6b6b6;
    color: white;
    border: none;
    transition: all 0.5s;
}
.logout-button {
    background-color: #b6b6b6;
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s;
}
.logout-button:hover {
    background-color: #ED1B24;
}
.logout-button:hover .none-decoration {
    background-color: #ED1B24;
}
.add-button:hover .none-decoration2 {
    background-color: #ED1B24;
}
/* Fin Main Account */

/* Inicio Main Historial de Reservas */
.main-order {
    width: 80%;
}
.reserve-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    width: 100%;
    margin: 1vh auto;
    padding: 5px;
    border-radius: 5px;
}
.flex-wrap {
    flex-wrap: wrap;
}
.image-result {
    width: 100px;
    height: 90px;
    border-radius: 100%;
}
.no-orders {
    text-align: center;
}
a {
    text-decoration: none;
}

/* Fin Main Historial de Reservas */

/* Formato para editar imagen de la cuenta */
.hide-edit {
    display: block;
}
main section div img {
    transition: all 0.5s;
}
main section div img:hover {
    opacity: 20%;
}
main section div img:hover .hide-edit {
    display: block;
}
main section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
main section form div {
    width: 80%;
    margin: 1% 0 1%;
}
main label {
    width: 45%;
    font-weight: bold;
}
main input {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 4px;
} 
/* Formato para editar imagen de la cuenta */

/* Formato del main para cuenta restaurante */
.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
}
.box-space1 {
    margin: 2% auto 3%;
    width: 90%;
    line-height: 35px;
}
.box-space2 {
    margin: 2% auto 3%;
    width: 90%;
    line-height: 35px;
}
main div section ul li a {
    display: flex;
    align-items: baseline;
}
main div section ul li a i {
    width: 7%;
}
main div section ul li a h2 {
    color: #656565;
    font-size: 18px;
}
.more-space {
    width: 10%;
}
.box-order1, .box-order2 {
    text-align: center;
}
/* Formato del main para cuenta restaurante */

/* Formato para gestion de reservas */
.buttons-orders {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.order-title {
    text-shadow: 1px 1px 1px black;
    color: #ED1B24;
    font-size: 1.3rem;
}
.products {
    text-shadow: 1px 1px 1px #b6b6b6;
    color: black;
    font-size: 0.9rem;
}
.color-name {
    color: #656565;
}
.heartbeat1 {
	-webkit-animation: heartbeat 3.5s ease-in-out infinite both;
	        animation: heartbeat 3.5s ease-in-out infinite both;
}
.heartbeat2 {
	-webkit-animation: heartbeat 3.5s ease-in-out 1.75s infinite both;
	        animation: heartbeat 3.5s ease-in-out 1.75s infinite both;
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
#map {
    height: 200px;
    width: 240px;
}
.order-form {
    text-align: center;
}
/* Formato para gestion de reservas */

/* Formato para la gestion de platos */

.add-button {
    background-color: #b6b6b6;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin: auto;
    text-align: center;
    transition: all 0.5s;
}
.add-button:hover {
    background-color: #ED1B24;
}
.hidden {
    display: none;
}
.standBy {
    font-size: 40px;
    color: #ED1B24;
}
.confirmed {
    background-color: green;
    color: white;
    border-radius: 5px;
    width: 140px;
    height: 30px;
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cancel {
    background-color: #ED1B24;
    color: white;
    border-radius: 5px;
    width: 140px;
    height: 30px;
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.user-raiting {
    width: 100%;
}

/* Formato para la gestion de platos */

/* Formato para gestion de mesas */

.capacity-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(201, 201, 201);
    width: 100%;
    margin: 1vh auto;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}
.capacity-container {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}
.capacity-box {
    width: 48%;
    text-align: center;
}
#green {
    color: green;
    font-size: 14px;
}
#red {
    color: #ED1B24;
    font-size: 14px;
}
.buttons-tables {
    display: flex;
    flex-direction: row-reverse;
    width: 60%;
}
.tables-button {
    background-color: #b6b6b6;
    color: white;
    border-radius: 5px;
    width: 40px;
    height: 30px;
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s;
}
.tables-button:hover {
    background-color: #ED1B24;
}
.tables-button:hover .none-decoration {
    background-color: #ED1B24;
}
.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.text-danger {
    color: #ED1B24;
    font-style: italic;
    font-size: 14px;
}
/* Formato para gestion de mesas */

/* Footer */

.footer {
    background-color: rgba(237, 27, 36, 75%);
    display: inline-flex;
    width: 100%;
    height: 45px;
    padding: 7px;
    margin-top: 2%;
    justify-content: space-between;
}
#center-footer {
    text-align: center;
    color: white;
    font-size: 7px;
    margin-top: 10px;
}
footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 6px;
    display: flex;
    vertical-align: middle; 
}
#copyright {
    color: white;
    font-size: 7px;
    margin-top: 5px;
}
footer div {
    display: flex;
}
footer ul, footer div {
    display: flex;
    flex-direction: column;
    width: 47.50%;
}
.social-media {
    width: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.fab {
    padding: 2px;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fab:hover {
    opacity: 0.7;
}
.fa-facebook, .fa-instagram {
  margin-top: 2%;
  color: #ebebeb;
}

/* Footer */

/* loader section starts */

.loader-container {
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.loader-container img {
     width: 20rem;
     /* width: 35rem; */
}
.fade-out {
    top: 110%;
    opacity: 0;
}

/* loader section ends */


@media (min-width: 768px) {
    body main {
    min-height: calc(100vh - 80px - 75px - 38px);
    }
    .box-mobile {
        display: inline-flex;
        width: 60%;
    }
    .checkbtn {
        display: none;
    }
    nav {
        display: flex;
    }
    .flex {
        width: 70%;
    }
    header nav ul {
        display: flex;
        width: 45%;
        height: 80px;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        position: static;
        background: white;
    }
    nav ul li {
        line-height: 13px;
    }
    nav ul li a {
        color: #656565;
        font-size: 12px;
        padding: 0;
    }
    body header div div a i {
        font-size: 25px;
    }
    .logo-conteiner {
        text-align: center;
        width: 18%;
    }
    nav div a {
        width: 20%;
    }
    .title {
        width: 80%;
        display: block;
        text-align: right;
    }
    .title-2 {
        width: 80%;
        display: block;
        text-align: right;
    }
    .style-title {
        font-size: 40px;
    }
   .icon-user {
    display: flex;
    width: 15%;
    margin: 10%;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 5% 0 5% 5%;
    }
    .icon-align {
        justify-content: flex-end;
        width: 35%;
    }
    .user-image-header {
    width: 35px;
    height: 35px;
    }

/* estilos para main */
    body main {
        width: 100%;
    }
    main input {
        width: 90%;
    }
    .logout-button {
        margin: 2% auto;
    }
    .main-order {
        width: 90%;
    }
    .reserve-form {
    flex-direction: row;
    }
    .box-order1 {
    width: 30%;
    text-align: center;
    }
    .box-order2 {
    width: 30%;
    text-align: left;
    }
    .box-table {
    width: 100%;
    }
    .box-order3 {
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .more-space {
        width: 7%;
    }
    .flex-row {
        flex-direction: row;
        width: 90%;
        margin: 1% auto;
    }
    .box-space1 {
        width: 35%;
    }
    .box-space1 .more-space {
        width: 10%;
    }
    .box-space2 {
        width: 60%;
    }
    .left-separation {
    margin-left: 15px;
    }
    .coment-button {
    margin-left: 2%;
    }
    .add-button {
        margin: 0;
        margin-left: 80%;
    }
    .add-button:hover .none-decoration{
    background-color: #ED1B24;
    }
    .capacity-form {
        width: 31%;
    }

/* estilos para footer */

    footer ul li a {
        font-size: 12px;
    }
    #copyright {
        font-size: 13px;
    }
    .footer {
        padding: 10px;
        height: 75px;
    }
    footer ul li a {
        font-size: 12px;
    }
    .fab {
    font-size: 15px;
    }
    .format-menu {
        font-size: 15px;
        font-weight: bold;
        line-height: 15px;
    }
    .logout-button {
        width: 150px;
        height: 30px;
    }
    .user-image {
    border-radius: 100%;
    width: 110px;
    height: 110px;
    }
}

@media (min-width: 1024px) {
    .format-menu {
        font-size: 18px;
        line-height: 20px;
    }
    .style-title {
        margin-left: 20%;
    }
    .title {
        text-align: center;
    }
    .logo-conteiner {
        width: 140px;
    }
    
    body main {
        width: 75%;
        min-height: calc(100vh - 80px - 100px - 51px);
    }
    main input {
        width: 75%;
        padding: 8px;
    }
    .flex-column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main section form div {
        margin: 5px auto;
    }
    .center {
        margin: auto;
    }
    .add-button {
        margin-left: 100%;
    }
    .main-order {
        width: 70%;
    }
    .flex-row {
        width: 90%;
    }
    .box-space1 {
        width: 35%;
    }
    .box-space1 .more-space {
        width: 10%;
    }
    .box-space2 {
        width: 60%;
    }
    .capacity-form {
        width: 24%;
    }
    .footer {
        height: 100px;
    }
    footer ul li a {
        font-size: 16px;
    }
    #copyright {
        font-size: 14px;
    }
    .footer-logo {
        height: 40px;
        width: 40px;
    }
    .fab {
    font-size: 20px;
    }
    .user-image {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    }
}
@media (min-width: 1440px) {
    body main {
    min-height: calc(100vh - 80px - 110px - 100px);
    }
    .capacity-form {
        width: 18%;
    }
    .fab {
    font-size: 22px;
    }
    .footer {
        height: 110px;
    }
    .user-image {
    border-radius: 100%;
    width: 160px;
    height: 160px;
    }
    .box-order1 {
        width: 25%;
    }
    #map {
        height: 230px;
        width: 350px;
    }
}