* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
body {
    background-color: #e7e7e7;
}

/* Nav bar para version mobile */

nav {
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 15px 0 gray;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li, .title {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
}
a:hover {
    background: #991118;
    color: #656565;
    transition: .5s;
}
.flex {
    display: flex;
}
.logo {
    width: 120px;
    height: 70px;
    line-height: 80px;
}
.title {
    color: #ED1B24;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    vertical-align: bottom;
    display: none;
}
.checkbtn {
    font-size: 30px;
    color: #656565;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check {
    display: none;
}
header ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ed1b26;
    top: 80px;
    left: -100%;
    text-align: center;
    z-index: 100;
    transition: all .5s;
}
nav ul li {
    display: block;
}
#check:checked ~ ul {
    left: 0;
}

/* Nav bar para version mobile */


body header {
    width: 100%;
    display: flex;
    justify-content: center;
}
form {
    width: 100%;
    text-align: center;
}
body main {
    width: 100%;
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 20px;
    color: black;
}
h2 {
    font-size: 18px;
    color: black;
}
h3 {
    font-size: 16px;
    color: black;
    width: 100%;
}
h3 div p {
    font-size: 16px;
    color: black;
    font-style: italic;
}
article {
    display: flex;
    justify-content: space-around;
}
#logo {
    max-width: 100%;
    max-height: 100%; 
}
.logo-conteiner {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#align-header {
    width: 75%;
}
.hide-mobile {
    text-align: center;
}
.box-mobile {
    display: none;
}
.burger-bar {
    display: flex;
    align-items: center;
    width: 10%;
    align-content: center;
    text-align: center;
}
.format-burgerbar {
    width: 100%;
    font-size: 20px;
}
.icon-user {
    display: none;
}
.color-icon {
    color: #ED1B24;
}
.box-main {
    background-color: rgb(226, 221, 221, 75%);
    color: #ED1B24;
    display: flex;
    border-radius: 10px;
    border: solid 1px rgb(112, 112, 112);
    width: 95%;
    margin-top: 5%;
    padding: 5px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
}
article a {
    text-decoration: none;
    color: blue;
}
.map-style {
    margin-top: 30px;
}
.pay-button {
    width: 100%;
    margin-top: 5%;
    width: 100%;
}
.button {
    padding: 3px;
    border-radius: 5px;
}
.footer {
    background-color: rgba(237, 27, 36, 75%);
    display: inline-flex;
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 0px;
}
#center-footer {
    text-align: center;
    color: white;
    font-size: 7px;
    margin-top: 10px;
}
footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 6px;
    display: flex;
    vertical-align: middle; 
}
#copyright {
    color: white;
    font-size: 7px;
    text-align: center;
    margin-top: 10px;
}
footer div {
    display: flex;
}
footer ul, footer div {
    display: flex;
    flex-direction: column;
    width: 33.33%;
}
.footer-logo {
    height: 15px;
    width: 15px;
    margin-left: 85%;
}

/* loader section starts */

.loader-container {
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.loader-container img {
     width: 20rem;
     /* width: 35rem; */
}
.fade-out {
    top: 110%;
    opacity: 0;
}

/* loader section ends */


@media (min-width: 768px) {
    .box-header {
        margin: 2% auto;
    }
    #align-header {
        width: 80%;
    }
    .box-mobile {
        display: inline-flex;
    }
    .box1 {
        width: 35%;
    }
    .box2 {
        width: 25%;
    }
    .box3 {
        width: 25%;
    }
    .hide-mobile {
        display: none;
    }
    #boton-buscar {
        width: 10%;
    }
    .burger-bar {
        display: none;
        width: 0%;
    }
    .icon-user {
        display: flex;
        width: 5%;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .box-main {
        margin-top: 3%;
        padding: 15px;
        height: 60vh;
    }
    .land-view {
        display: flex;
    }
    .map-style {
        width: 60%;
        height: 75%;
        margin-top: 0;
    }
    .pay-button {
        width: 0;
    }
    .button {
        width: 120px;
    }
    footer ul li a {
        font-size: 12px;
    }
    #copyright {
        font-size: 13px;
    }
    .footer-logo {
        height: 30px;
        width: 30px;
    }
    .footer {
        padding: 15px;
    }
    .format-menu {
        font-size: 14px;
        font-weight: bold;
        line-height: 15px;
    }
}
@media (min-width: 1024px) {
    .icon-user {
        font-size: 20px;
    }
}





