* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(/img/fondo-cargado.jpg);
    background-repeat: repeat;
    background-size: cover;
    height: 15vh;
}

.todos {
    display: flex;
    flex-direction: column;
}

.resto1, .resto2, .resto3, .resto4 {
    padding: 10px;
    border-radius: 3%;
    background-color: #ffffffb8;
    width: 70vw;
    margin: auto;
}

.titulo {
    text-align: center;
}