* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #e7e7e7;
}
body section {
    width: 100%;
}
body header {
    width: 100%;
    display: flex;
    justify-content: center;
}
body header section {
    position: relative;
}
form {
    width: 100%;
    text-align: center;
}
body main {
    width: 90vw;
    margin: auto;
    
}
.box-header {
    background-color: rgb(226, 221, 221, 75%);
    color: #ED1B24;
    display: flex;
    border-radius: 10px;
    border: solid 1px rgb(112, 112, 112);
    width: 95%;
    margin-top: 5%;
    padding: 5px;
    flex-wrap: wrap;
    align-items: center;
}
#logo {
    max-width: 100%;
    max-height: 100%; 
}
.logo-conteiner {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#align-header {
    width: 75%;
}
.hide-mobile {
    text-align: center;
}
.box-mobile {
    display: none;
}
.burger-bar {
    display: flex;
    align-items: center;
    width: 10%;
    align-content: center;
    text-align: center;
}
.format-burgerbar {
    width: 100%;
    font-size: 20px;
}
.icon-user {
    display: none;
}
.box-main {
    background-color: rgb(226, 221, 221, 75%);
    color: #ED1B24;
    display: flex;
    border-radius: 10px;
    border: solid 1px rgb(112, 112, 112);
    width: 100%;
    margin-top: 5%;
    padding: 5px;
    flex-wrap: wrap;
    align-items: baseline;
    max-height: max-content;
}
.desktop-view1 {
    width: 100%;
    border: 1px solid black;
}
.desktop-view2 {
    width: 100%;
    height: 25%;
    border: 1px solid black;
}
.box1-main {
    width: 100%;
}
.icons-main {
    height: 30%;
    width: 100%;
}
.align-icons-box1 {
    display: flex;
    height: 100%;
    width: 100%;
}
.icons-box1 {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main div i {
    font-size: 40px;
}
.image-box1 {
    height: 70%;
    width: 100%;
}
.box2-main {
    width: 100%;
}
.box3-main {
    width: 100%;
    height: 25%;
}
.footer {
    background-color: rgba(237, 27, 36, 75%);
    display: inline-flex;
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 0px;
}
#center-footer {
    text-align: center;
    color: white;
    font-size: 7px;
    margin-top: 10px;
}
footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 6px;
    display: flex;
    vertical-align: middle; 
}
#copyright {
    color: white;
    font-size: 7px;
    text-align: center;
    margin-top: 10px;
}
footer div {
    display: flex;
}
footer ul, footer div {
    display: flex;
    flex-direction: column;
    width: 33.33%;
}
.footer-logo {
    height: 15px;
    width: 15px;
    margin-left: 85%;
}
@media (min-width: 461px) {
    .desktop-view1 {
        display: flex;
        height: 50%;
    }
    .box1-main {
        width: 60%;
    }
    .box2-main {
        width: 40%;
    }
}
@media (min-width: 768px) {
    body section {
        width: 100%;
    }
    .box-header {
        margin-top: 2%;
    }
    #align-header {
        width: 80%;
    }
    .box-mobile {
        display: inline-flex;
    }
    .hide-mobile {
        display: none;
    }
    #boton-buscar {
        width: 10%;
    }
    .burger-bar {
        display: none;
        width: 0%;
    }
    .icon-user {
        display: flex;
        width: 5%;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .icon-cart {
        display: flex;
        width: 5%;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    
    .box-main {
        margin-top: 3%;
        padding: 15px;
        height: 50vh;
    }
    .land-view {
        display: flex;
    }
    footer ul li a {
        font-size: 12px;
    }
    #copyright {
        font-size: 13px;
    }
    .footer-logo {
        height: 30px;
        width: 30px;
    }
    .footer {
        padding: 15px;
    }
    .format-menu {
        font-size: 14px;
        font-weight: bold;
        line-height: 15px;
    }
    .box1 {
        width: 35%;
    }
    .box2 {
        width: 25%;
    }
    .box3 {
        width: 25%;
    }
}
@media (min-width: 1024px) {
    .icon-user {
        font-size: 20px;
    }
}

.menu{
    display: flex;
    justify-items: center;
    text-align: left;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;  font-style: normal;
    font-size: 15px;
    color: black;
    margin-top: 0px;
    opacity: 70%;

}

.acerca-de {
    display: flex;
    justify-items: center;
    text-align: left;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;  font-style: normal;
    font-style: normal;
    font-size: 15px;
    color:black;
    opacity: 70%;

 }
 
.restaurante-tipo-comida {
    display: flex;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-family: WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;    font-style: normal;
    font-style: normal;
    font-size: 20px;
    color:black; 
    opacity: 70%;


}

.valoracion {
    display: flex;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-family: WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;    font-style: normal;
    font-style: normal;
    font-size: 14px;
    color:black     

}

.direccion {
    display: flex;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-family: WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;    font-style: normal;
    font-style: normal;
    font-size: 14px;
    color:black;

}
