.input-product-detail {
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;      
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("/img/fondo-cargado.jpg");
    background-repeat: repeat;
    background-size: cover;
}


.acerca-de-producto {
    text-align: left;
    position: relative;
    font-size: small
}

#comamos{
    font-weight: bold;
    font-family: pacifico, sans-serif;
    font-style: normal;
    font-size: 30px;
    color: red;
}

.input-product-detail {
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;      
    height: auto;
    font-size: 14px;
}

#nombre-Restaurante {
    padding: 5px;
    font-size: 10px
    
}

#nombre-Restaurante h3 {
    font-size: 13px;
    font-weight: bold;
}

#fachada-Restaurante {
    width: 100%;
    height: auto;
}

#imagenes-slide {
    height: 100px;
    overflow: hidden;
}

.botones-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: auto;
}

.menu-Del-Producto {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    
}


.menu-Del-Producto button {
    width: 150px;
    height: auto;
    margin: 5px;
}

#menu-producto {
    display: flex;
    justify-items: center;
    text-align: left;
    
}

#menu-producto h2 {
    display: flex;
    justify-items: center;
    text-align: left;
    font-weight: bold;
    font-family: pacifico, sans-serif;
    font-style: normal;
    font-size: 30px;
    color:white
    
}

#acerca-de h2 {
    font-weight: bold;
    font-family: pacifico, sans-serif;
    font-style: normal;
    font-size: 30px;
    color:white
    
}

/* Codigo agregado por alejandro */
body {
    background-image: url(/img/fondo-cargado.jpg);
    background-size: cover;
}
body section {
    display: flex;
    flex-direction: column;
    width: 100%;
}
body header {
    width: 100%;
    display: flex;
    justify-content: center;
}
form {
    width: 100%;
    text-align: center;
}
.box-header {
    background-color: rgb(226, 221, 221, 75%);
    color: #ED1B24;
    display: flex;
    border-radius: 10px;
    border: solid 1px rgb(112, 112, 112);
    width: 95%;
    margin-top: 5%;
    padding: 5px;
    flex-wrap: wrap;
    align-items: center;
}
#logo {
    max-width: 100%;
    max-height: 100%; 
}
.logo-conteiner {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#align-header {
    width: 75%;
}
.hide-mobile {
    text-align: center;
}
.box-mobile {
    display: none;
}
.burger-bar {
    display: flex;
    align-items: center;
    width: 10%;
    align-content: center;
    text-align: center;
}
.format-burgerbar {
    width: 100%;
    font-size: 20px;
}
.icon-user {
    display: none;
}
.footer {
    background-color: rgba(237, 27, 36, 75%);
    display: inline-flex;
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 0px;
}
#center-footer {
    text-align: center;
    color: white;
    font-size: 7px;
    margin-top: 10px;
}
footer div ul li a {
    color: white;
    text-decoration: none;
    font-size: 6px;
    display: flex;
    vertical-align: middle; 
}
#copyright {
    color: white;
    font-size: 7px;
    text-align: center;
    margin-top: 10px;
}
footer div div {
    display: flex;
}
footer div ul, footer div div {
    display: flex;
    flex-direction: column;
    width: 33.33%;
}
.footer-logo {
    height: 15px;
    width: 15px;
    margin-left: 85%;
}