* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
html {
    height: 100%;
}
body {
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
body main {
    min-height: calc(100vh - 80px - 45px - 16px);
}

/* Nav bar para version mobile */

nav {
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 15px 0 gray;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li, .title, .title-2 {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
}
header nav ul li a:hover {
    background: #656565;
    color: white;
    transition: .5s;
}
.flex {
    display: flex;
}
.logo {
    width: 120px;
    height: 70px;
    line-height: 80px;
}
.title, .title-2 {
    color: #ED1B24;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    vertical-align: bottom;
    display: none;
}
.checkbtn {
    font-size: 30px;
    color: #656565;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check {
    display: none;
}
header ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ed1b26;
    top: 80px;
    left: -100%;
    text-align: center;
    z-index: 100;
    transition: all .5s;
}
nav ul li {
    display: block;
}
#check:checked ~ ul {
    left: 0;
}

/* Nav bar para version mobile */





.centro{
    text-align: center;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: 2% auto;
    }

    .center {
        text-align: center;
    }

    .centrok {
        text-align: center;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }


.contenedor {
    margin: 100px;
    position: relative;
    height: 300px;
    }
   

main form {
width:300px;
padding:16px;
border-radius:28px;
margin:auto;
background-color: white;
box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
body main input {
    border: none;
    border-bottom: #656565 1px solid;
    width: 75%;
    background-color: white;
    font-size: 16px;
    padding: 5px;
}
body main button {
    border: none;
}
.close {
    margin: 15px;
}


#exitoso {
    width: 405px;
padding:18px;
border-radius:28px;
margin:auto;
background-color:#ccc;
}

#padding {
    padding: 8px;
    margin-top: -4px;
}

.exit {
    size: 5px;
    text-align: right;
    padding-right: 12px;
}
.boton {
    margin-bottom: 10px;
}

/* header y footer*/

div.errores {
    color: #ED1B24;
    font-style: italic;
    font-size: 14px;
    list-style: circle;
    margin-left: 10%;
}

body {
    background-color: #e7e7e7;
}
body header {
    width: 100%;
    display: flex;
    align-items: center;
}
body header div ul li a {
    text-decoration: none;
    color: #656565;
}
#logo {
    max-width: 100%;
    max-height: 100%; 
}
.logo-conteiner {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#align-header {
    display: inline-flex;
    width: 85%;
}
.style-title {
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    color: #ED1B24;
}
.burger-bar {
    display: inline-flex;
    align-items: center;
}
.format-menu {
    width: 25%;
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-mobile {
    display: none;
}

/* Footer */

.footer {
    background-color: rgba(237, 27, 36, 75%);
    display: inline-flex;
    width: 100%;
    height: 45px;
    padding: 7px;
    margin-top: auto;
    justify-content: space-between;
}
#center-footer {
    text-align: center;
    color: white;
    font-size: 7px;
    margin-top: 10px;
}
footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 6px;
    display: flex;
    vertical-align: middle; 
}
#copyright {
    color: white;
    font-size: 7px;
    margin-top: 5px;
}
footer div {
    display: flex;
}
footer ul, footer div {
    display: flex;
    flex-direction: column;
    width: 47.50%;
}
.social-media {
    width: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.fab {
    padding: 2px;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fab:hover {
    opacity: 0.7;
}
.fa-facebook, .fa-instagram {
  margin-top: 2%;
  color: #ebebeb;
}

/* Footer */


/* Formato nuevo para login de usuarios */
#recordarme {
    height: 15px;
    width: 5%;
    margin: 0;
}
.rebember {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.width48 {
    width: 48%;
}
.logout-button {
    background-color: #b6b6b6;
    color: white;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s;
}
.logout-button:hover {
    background-color: #ED1B24;
}
.box-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.margin-bottom {
    margin-bottom: 1%;
    margin-top: 3%;
}
main form div a i {
    text-decoration: none;
    color: #656565;
}



.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/* Formato nuevo para login de usuarios */

.exit-button {
    text-decoration: none;
    color: black;
}
.text-danger {
    color: #ED1B24;
    font-style: italic;
    font-size: 14px;
}

/* loader section starts */

.loader-container {
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.loader-container img {
     width: 20rem;
     /* width: 35rem; */
}
.fade-out {
    top: 110%;
    opacity: 0;
}

/* loader section ends */


@media (min-width: 768px) {
    body {
        font-size: 20px;
    }
    body main {
    min-height: calc(100vh - 80px - 75px - 38px);
    }
    .box-mobile {
        display: inline-flex;
        width: 60%;
    }
    .checkbtn {
        display: none;
    }
    nav {
        display: flex;
    }
    .flex {
        width: 70%;
    }
    header nav ul {
        display: flex;
        width: 45%;
        height: 80px;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        position: static;
        background: white;
    }
    nav ul li {
        line-height: 13px;
    }
    nav ul li a {
        color: #656565;
        font-size: 12px;
        padding: 0;
    }
    body header div div a i {
        font-size: 25px;
    }
    .logo-conteiner {
        text-align: center;
        width: 10%;
    }
    nav div a {
        width: 20%;
    }
    .title, .title-2 {
        width: 80%;
        display: block;
        text-align: right;
    }
    .style-title {
        font-size: 40px;
    }
   .icon-user {
    display: flex;
    width: 15%;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
    .text-danger {
        font-size: 16px;
    }
    main form {
        width: 360px;
    }
    footer ul li a {
        font-size: 12px;
    }
    #copyright {
        font-size: 13px;
    }
    .footer {
        padding: 15px;
        height: 75px;
    }
    .format-menu {
        font-size: 15px;
        font-weight: bold;
        line-height: 15px;
    }
    .fab {
    font-size: 15px;
    }
    h3 {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 24px;
    }
    body main {
    min-height: calc(100vh - 80px - 100px - 51px);
    }
    .format-menu {
        font-size: 18px;
        line-height: 20px;
    }
    .format-form {
        width:380px;
        height: 400px;
        padding: 10px;
        font-size: 20px;
        }
    body main input {
        width: 75%;
        font-size: 18px;
        margin-bottom: 10px;
    }
    center {
        width: 50%;
        margin: auto;
    }
    .text-danger {
        font-size: 18px;
    }
    h3 {
        font-size: 24px;
    }
    .form-wide {
        width: 430px;
        height: 550px;
        padding: 7px;
    }
    .form-wide2 {
        width: 400px;
        height: 480px;
    }
    .format-form {
        height: 380px;
    }
    .footer {
        height: 100px;
    }
    footer ul li a {
        font-size: 16px;
    }
    #copyright {
        font-size: 14px;
    }
    .footer-logo {
        height: 40px;
        width: 40px;
    }
    .fab {
    font-size: 20px;
    }
}
@media (min-width: 1440px) {
    body main {
    min-height: calc(100vh - 80px - 110px - 100px);
    }
    .format-form {
        width: 400px;
        height: 400px;
    }
    .width48 {
        width: 44%;
    }
    #padding {
        margin-top: -30px;
    }
    .form-wide2 {
        height: 490px;
    }
    .title, .title-2 {
        font-size: 40px;
    }
    nav ul li a {
        font-size: 14px;
    }
    .fab {
    font-size: 22px;
    }
    .footer {
        height: 110px;
    }
}