* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
#background-img {
    background-image:inherit;
    background-attachment: fixed;
}
body header {
    width: 100%;
    
}
body header section {
    position: relative;
}
.box-header {
    background-color: #e2ddddbe;
    color: #ED1B24;
    display: flex;
    border-radius: 5%;
    border: solid 1px grey;
    position: absolute;  
}
#logo {
    max-width: 100%;
    max-height: 100%; 
}
.logo-conteiner {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#align-header {
    display: inline-flex;
    width: 85%;
}
.title {
    width: 40%;
}
.style-title {
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
}
.format-menu {
    width: 25%;
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-mobile {
    display: none;
}
@media (min-width: 768px) {
    .box-mobile {
        display: inline-flex;
        width: 60%;
    }

}