* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #e7e7e7;
}
.centro{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.center {
    text-align: center;
}

.centrok {
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
main form {
width:300px;
padding:16px;
border-radius:28px;
background-color: rgb(226, 221, 221, 75%);
border: solid 1px rgb(112, 112, 112);
}

.close {
    margin: 15px;
}
.alejar {
    padding-top: 15px;
}


#exitoso {
    width: 405px;
    padding:18px;
    border-radius:28px;
    margin:auto;
    background-color:#ccc;
}

#padding {
    padding: 8px;
    margin-top: -4px;
}
.exit {
    size: 5px;
    text-align: right;
    padding-right: 12px;
}
.exit-button {
    text-decoration: none;
    color: black;
}
.boton {
    margin-bottom: 10px;
}

/* header y footer*/


body header {
    width: 100%;
    display: flex;
    align-items: center;
}
body header div ul li a {
    text-decoration: none;
    color: #656565;
}
.box-header {
    display: flex;
    margin: auto;
    padding: 5px;
    align-items: center;
    box-shadow: 0 0 15px 0 gray ;
    background-color: white;
}
#logo {
    max-width: 100%;
    max-height: 100%; 
}
.logo-conteiner {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#align-header {
    display: inline-flex;
    width: 85%;
}
.title {
    width: 85%;
}
.style-title {
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 16px;
    color: #ED1B24;
}
.burger-bar {
    display: inline-flex;
    align-items: center;
}
.format-menu {
    width: 25%;
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-mobile {
    display: none;
}
h1 {
    font-size: 20px;
    color: black;
}
h2 {
    font-size: 18px;
    color: black;
}
h3 {
    font-size: 16px;
    color: black;
    width: 100%;
}
.margin-bottom {
    margin-bottom: 1%;
}
h3 div p {
    font-size: 16px;
    color: black;
    font-style: italic;
}
article {
    display: flex;
    justify-content: space-around;
}

.footer {
    background-color: rgba(237, 27, 36, 75%);
    display: inline-flex;
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 0px;
}
#center-footer {
    text-align: center;
    color: white;
    font-size: 7px;
    margin-top: 10px;
}
footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 6px;
    display: flex;
    vertical-align: middle; 
}
#copyright {
    color: white;
    font-size: 7px;
    text-align: center;
    margin-top: 10px;
}
footer div {
    display: flex;
}
footer ul, footer div {
    display: flex;
    flex-direction: column;
    width: 33.33%;
}
.footer-logo {
    height: 15px;
    width: 15px;
    margin-left: 85%;
}

@media (min-width: 768px) {
    body {
        font-size: 20px;
    }
    .box-mobile {
        display: inline-flex;
        width: 60%;
    }
    .title {
        width: 40%;
    }
    .style-title {
        font-size: 40px;
    }
    #align-header {
        width: 85%;
    }
    .box-mobile {
        display: inline-flex;
    }
    .box1 {
        width: 35%;
    }
    .box2 {
        width: 25%;
    }
    .box3 {
        width: 25%;
    }
    .hide-mobile {
        display: none;
    }
    #boton-buscar {
        width: 10%;
    }
    .burger-bar {
        display: none;
        width: 0%;
    }
    .icon-user {
        display: flex;
        width: 5%;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    footer ul li a {
        font-size: 12px;
    }
    #copyright {
        font-size: 13px;
    }
    .footer-logo {
        height: 30px;
        width: 30px;
    }
    .footer {
        padding: 15px;
    }
    .format-menu {
        font-size: 15px;
        font-weight: bold;
        line-height: 15px;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 24px;
    }
    .format-menu {
        font-size: 18px;
        line-height: 20px;
    }
    .icon-user {
        font-size: 20px;
    }
    main form {
        width:400px;
        height: 480px;
        font-size: 22px;
        }
    main form input {
        width: 75%;
        height: 5%;
    }
    center {
        width: 50%;
        
    }
}