* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(/img/fondo\ cargado.jpg);
    background-size: cover;
}
body section {
    display: flex;
    justify-content: center;
}
body header {
    width: 100%;
    
}
body header section {
    position: relative;
}
.box-header {
    background-color: rgb(226, 221, 221, 75%);
    color: #ED1B24;
    display: flex;
    border-radius: 10px;
    border: solid 1px rgb(112, 112, 112);
    position: absolute;  
    width: 95%;
    margin-top: 1%;
    padding: 5px;
}
#logo {
    max-width: 100%;
    max-height: 100%; 
}
.logo-conteiner {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#align-header {
    display: inline-flex;
    width: 85%;
}
.title {
    width: 85%;
}
.style-title {
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    font-size: 16px;
}
.burger-bar {
    display: inline-flex;
    align-items: center;
}
.format-menu {
    width: 25%;
    text-align: center;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-mobile {
    display: none;
}
.footer {
    background-color: rgba(237, 27, 36, 75%);
    display: inline-flex;
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 0px;
}
#center-footer {
    text-align: center;
    color: white;
    font-size: 7px;
    margin-top: 10px;
}
footer div ul li a {
    color: white;
    text-decoration: none;
    font-size: 6px;
    display: flex;
    vertical-align: middle; 
}
#copyright {
    color: white;
    font-size: 7px;
    text-align: center;
    margin-top: 10px;
}
footer div div {
    display: flex;
}
footer div ul, footer div div {
    display: flex;
    flex-direction: column;
    width: 33.33%;
}
.footer-logo {
    height: 15px;
    width: 15px;
    margin-left: 85%;
}
@media (min-width: 768px) {
    .box-mobile {
        display: inline-flex;
        width: 60%;
    }
    .title {
        width: 40%;
    }
    .style-title {
        font-size: 40px;
    }
    .burger-bar {
        display: none;
    }
    footer div ul li a {
        font-size: 12px;
    }
    #copyright {
        font-size: 13px;
    }
    .footer-logo {
        height: 30px;
        width: 30px;
    }
    .footer {
        padding: 15px;
    }
    .format-menu {
        font-size: 14px;
        font-weight: bold;
        line-height: 15px;
    }
}