* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

.centro{
    text-align: center;
    }

    .contenedor {
        margin: 100px;
        position: relative;
        height: 300px;
       }
    
       @media (min-width: 768px) {
        .box-mobile {
            display: inline-flex;
            width: 60%;
        }
    
    }

   

    form {
        width:300px;
	padding:16px;
	border-radius:28px;
	margin:auto;
	background-color:#ccc;
    opacity: 60%;
    }

    .exit {
        text-align: right;
    }

    .subrayado {
        text-decoration: underline;
    }


    .padding {
        margin-top: 0px;
    }

    
    .close {
        margin: 15px;
      }
  .alejar {
      padding-top: 15px;
  }
  
  
  #exitoso {
      width: 405px;
  padding:18px;
  border-radius:28px;
  margin:auto;
  background-color:#ccc;
  }
  
  #padding {
      padding: 8px;
      margin-top: -4px;
  }
  
  .exit {
      size: 5px;
      text-align: right;
      padding-right: 12px;
  }
  
  .acercar{
      margin-bottom: -19px;
  }
  
  
  .boton {
      margin-bottom: 10px;
  }
  